<GridLayout rows="auto, *, auto, auto" class="bg-gradient-to-b from-amber-50 to-white min-h-full px-6 py-10">
  <ns-teaser row="0" [greeting]="greeting()" [welcomeMessage]="'features.home.feed.welcome' | L" emoji="🎉">
  </ns-teaser>

  <ActivityIndicator row="1" *ngIf="loading() || loadingMore()" busy="true"></ActivityIndicator>

  <ListView
    *ngIf="!loading() && !loadingMore()"
    row="1"
    [items]="myPosts()"
    class="space-y-5"
    [separatorColor]="'transparent'"
    (itemLoading)="onItemLoading($event)"
  >
    <ng-template let-item="item">
      <ns-card
        [id]="item.uid"
        [imgSrc]="item.imageUrl"
        [title]="item.overallInterpretation"
        [date]="item.createdAt"
        [author]="item.user"
      ></ns-card>
    </ng-template>
  </ListView>

  <StackLayout row="3" class="mt-2">
    <Button
      *ngIf="!loading() && myPosts().length > 4"
      [text]="'features.home.feed.loadMore' | L"
      class="bg-amber-500 text-white text-center text-base font-medium py-3 rounded-xl shadow-md mt-4"
      (tap)="onLoadMore()"
      [isEnabled]="!loadingMore()"
    ></Button>

    <Button
      [text]="'features.home.feed.createFal' | L"
      class="bg-amber-600 text-white text-center text-base font-bold py-4 rounded-2xl shadow-lg mt-2"
      [nsRouterLink]="'/create-fal'"
    ></Button>
  </StackLayout>
</GridLayout>
