<GridLayout rows="*, auto" class="bg-gradient-to-b from-amber-50 to-white min-h-full px-6 py-10">
  <ScrollView row="0" scrollBarIndicatorVisible="false">
    <StackLayout class="space-y-8">
      <ns-teaser [greeting]="greeting()" [welcomeMessage]="'features.home.feed.welcome' | L" emoji="🎉"> </ns-teaser>

      <ActivityIndicator *ngIf="loading()" busy="true"></ActivityIndicator>

      <StackLayout *ngFor="let post of myPosts()">
        <ns-card
          [id]="post.uid"
          [imgSrc]="post.imageUrl"
          [title]="post.title"
          [date]="post.createdAt"
          [author]="post.user"
        ></ns-card>
      </StackLayout>

      <Button
        *ngIf="!loading() && myPosts().length > 4"
        [text]="'features.home.feed.loadMore' | L"
        class="bg-amber-500 text-white text-center text-base font-medium py-3 rounded-xl shadow-md mt-4"
        (tap)="onLoadMore()"
        [isEnabled]="!loadingMore()"
      ></Button>

      <ActivityIndicator *ngIf="loadingMore()" busy="true" class="mt-4"></ActivityIndicator>
    </StackLayout>
  </ScrollView>

  <StackLayout row="1" class="mt-4">
    <Button
      [text]="'features.home.feed.createFal' | L"
      class="bg-amber-600 text-white text-center text-base font-bold py-4 rounded-2xl shadow-lg"
      [nsRouterLink]="'/create-fal'"
    ></Button>
  </StackLayout>
</GridLayout>
