<ScrollView scrollBarIndicatorVisible="false">
  <StackLayout class="bg-gradient-to-b from-amber-50 to-white min-h-full px-6 py-10 space-y-6">
    <Label text="My Coffee History" class="text-xl font-bold text-gray-800 text-center mb-2"></Label>
    <StackLayout *ngFor="let post of myPosts">
      <ns-card
        [imgSrc]="post.imgSrc"
        [title]="post.title"
        [date]="post.date"
        [id]="post.id"
        [author]="post.author"
      ></ns-card>
    </StackLayout>
  </StackLayout>
</ScrollView>
