<ScrollView>
  <StackLayout class="bg-gradient-to-b from-amber-50 to-white min-h-full px-6 py-10">
    <StackLayout class="mb-10 items-center">
      <Image src="~/assets/images/coffee-cup.png" width="70" height="70" class="mb-4"></Image>
      <Label
        [text]="'features.auth.forgotPassword.title' | L"
        class="text-3xl font-bold text-gray-800 mb-3 text-center"
      ></Label>
      <Label
        [text]="'features.auth.forgotPassword.subtitle' | L"
        class="text-base text-gray-600 text-center"
        [textWrap]="true"
      ></Label>
    </StackLayout>

    <Label
      [text]="'features.auth.forgotPassword.thisFeatureIsComingSoon' | L"
      class="text-sm text-red-500 text-center mb-3"
    ></Label>

    <StackLayout class="space-y-6">
      <TextField
        [hint]="'features.auth.forgotPassword.emailHint' | L"
        [(ngModel)]="email"
        keyboardType="email"
        autocorrect="false"
        autocapitalizationType="none"
        class="bg-white border border-amber-200 rounded-2xl px-5 py-4 text-base text-gray-800 shadow"
      ></TextField>

      <FlexboxLayout flexDirection="row" justifyContent="center">
        <Label [text]="'features.auth.forgotPassword.backTo' | L" class="text-sm text-gray-500"></Label>
        <Label
          [text]="'features.auth.forgotPassword.login' | L"
          [nsRouterLink]="'/login'"
          class="text-sm text-amber-600 underline font-semibold"
        ></Label>
      </FlexboxLayout>

      <Button
        *ngIf="!isLoading()"
        [text]="'features.auth.forgotPassword.button' | L"
        (tap)="onForgotPassword()"
        class="bg-amber-600 text-white text-base font-bold py-4 rounded-2xl shadow-lg"
      ></Button>
      <ActivityIndicator [busy]="isLoading()" />
      <Label
        *ngIf="showRequiredFields()"
        [text]="'features.auth.forgotPassword.requiredFields' | L"
        class="text-sm text-red-500 text-center"
      ></Label>
      <Label *ngIf="errorMessage()" [text]="errorMessage()" class="text-sm text-red-500 text-center"></Label>
    </StackLayout>
  </StackLayout>
</ScrollView>
